.add-option-error{
    color:$off-white;
    font-style:italic;
    margin:$m-size 0 0 2rem;
    padding: 0, $m-size;
}
.add-option{
    display: flex;
    padding:$m-size;
}
.add-option__input{
    flex-grow: 1;
    background: $dark-blue;
    border:none;
    border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10%);
    color:$off-white;
    padding:$s-size;
}