.big-button{
    background: $red;
    border: none;
  border-bottom: .6rem solid darken($color: $red, $amount: 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 24px;
  width: 100%;
}
.big-button:disabled{
    opacity:.5
}
.button{
    background: $red;
    border: none;
  border-bottom: .3rem solid darken($color: $red, $amount: 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}
.button--link{
    background:none;
    border:none;
    color:$off-white;
    padding:0;
}
@media(min-width:$desktop-breakpoint){
    .big-button{
        margin-bottom: $xl-size; 
    }
}